<!DOCTYPE html>

<p id="notice"><%= notice %></p>

<h4>School List</h4>

  <%= search_form_for @q do |f| %>
    <div class="field">
    <%= f.label :schooltype_eq, "スクールタイプ 　" %>
    <%= f.collection_select :schooltype_eq, Schooltype.all, :schooltype, :schooltype, :include_blank => '指定なし' %>
    <br>
    <%= f.label :title_or_body_cont, "スクール名or内容" %>
    <%= f.search_field :title_or_body_cont %>
    <br>
    <%= f.label :address_cont, "市区町村　　　　" %>
    <%= f.search_field :address_cont %>
    <%= f.submit %>
    <br>
  <% end %> 

<br>

<div class="container">

  <body>
    <% @posts.each do |post| %>

      <div class="container-fluied">
        <div class="row">
          <div class="col-sm-12">
            <% if post.schooltype == "単発" then %>
              <span class="label label-warning"><%= post.schooltype %></span>
            <% elsif post.schooltype == "連続" then %>
              <span class="label label-success"><%= post.schooltype %></span>
            <% else %>
              <span class="label label-danger"><%= post.schooltype %></span>
            <% end %>
          </div>

          <% if post.image? %>
          <div class="col-sm-3" style="text-align: center"><%= image_tag post.image.url, class: "img-responsive" %></div>
          <% else %>
          <div class="col-sm-3" style="text-align: center">画像がありません</div>
          <% end %>
            <div class="col-sm-3"><%= link_to post.title, post_path(post) %></div>
            <div class="col-sm-4" style="font-size: 13px"><%= post.body %></div>
            <div class="col-sm-2" style="text-align: center"><button type="button" class="btn btn-default"><%= link_to 'Show', post %></button></div>
            <div class="col-sm-2"><%= render 'posts/tag_list', tag_list: post.interest_list %></div>

        </div>
      </div>
    <% end %>
  </body>
</div>
<%= paginate @posts %>
<br>

<%= link_to 'New Post', new_post_path %>
